* {
  margin: 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

.card-group {
  margin-bottom: 2rem;
  justify-content: space-between;
}

.container {
  padding: 10px;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 200px;
}

.bnt-collapse {
  align-self: center;
}

.w-30 {
  width: 32%;
}
